{% extends 'base.html' %}

{% block title %}Resource List{% endblock %}

{% block content %}
<h2>Resources</h2>
<a href="{% url 'resource_create' %}">Add New Resource</a>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    {% for resource in resources %}
    <tr>
        <td>{{ resource.name }}</td>
        <td>{{ resource.description }}</td>
        <td>{{ resource.quantity }}</td>
        <td>
            <a href="{% url 'resource_update' resource.pk %}">Edit</a>
            <a href="{% url 'resource_delete' resource.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
