{% extends 'users/base.html' %}

{% block title %}Crisis List{% endblock %}

{% block content %}
   {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <a href="{% url 'crisis_create' %}">Add New Crisis</a>
<ul>
    {% for crisis in crises %}
    <li>
        <a href="{% url 'crisis_detail' crisis.id %}">{{ crisis.name }}</a>
        <a href="{% url 'crisis_report' crisis.id %}">{{ crisis.name }}</a>
        <a href="{% url 'crisis_update' crisis.id %}">Edit</a>
        <a href="{% url 'crisis_delete' crisis.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
