<!-- {% extends 'users/donation_form.html' %} -->
{% extends 'users/base.html' %}

{% block title %}
{% if form.instance.pk %}Edit Donation{% else %}Add Donation{% endif %}{% endblock %}

{% block content %}
{% load static %}
 <link rel="stylesheet" href="{% static 'style.css' %}">

<h2>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Donation</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
<a href="{% url 'donation_list' %}">Cancel</a>
{% endblock %}
