{% extends 'users/base.html' %}

{% block title %}Donation List{% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

<h2>Donations</h2>
<a href="{% url 'donation_create' %}">Add New Donation</a>
<table>
    <tr>
        <th>Donor</th>
        <th>Amount</th>
        <th>Crisis</th>
        <th>Actions</th>
    </tr>
    {% for donation in donations %}
    <tr>
        <td>{{ donation.donor }}</td>
        <td>${{ donation.amount }}</td>
        <td>{{ donation.crisis.name }}</td>
        <td>
            <a href="{% url 'donation_update' donation.pk %}">Edit</a>
            <a href="{% url 'donation_delete' donation.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
